<ion-header [translucent]="true">
  <ion-toolbar [ngSwitch]="page.toLowerCase()">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngSwitchCase="'f1entrieslist'">Form Entries</ion-title>
    <ion-title *ngSwitchCase="'f1entrydetails'">Form Entry</ion-title>
    <ion-title *ngSwitchCase="'f1formgen'">Spreadsheet Generation</ion-title>
    <ion-title *ngSwitchCase="'settings'">Your Details</ion-title>
    <ion-title *ngSwitchDefault>{{ page }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar [ngSwitch]="page.toLowerCase()">
      <ion-title size="large" *ngSwitchCase="'f1entrieslist'">
        Form Entries
      </ion-title>
      <ion-title size="large" *ngSwitchCase="'f1entrydetails'">
        Form Entry
      </ion-title>
      <ion-title size="large" *ngSwitchCase="'f1formgen'">
        Spreadsheet Generation
      </ion-title>
      <ion-title size="large" *ngSwitchCase="'settings'">
        Your Details
      </ion-title>
      <ion-title size="large" *ngSwitchDefault>{{ page }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="container">

    <div *ngIf="page.toLowerCase() == 'settings'">
      <ion-grid class="ion-no-padding vertical-padding-only">
        <ion-row>
          <ion-col>
            <p>If you fill in your details here, the corresponding fields will
            be automatically filled in when creating spreadsheets.</p>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let key of keys">
          <ion-col>
            <ion-label label for="{{ key }}">
              {{ getDisplayKey(key) }}:
            </ion-label>
          </ion-col>
          <ion-col size="auto">
            <ion-select disabled="{{ disableInputs() }}"
                        placeholder="Select office..."
                        *ngIf="key == 'fisheries_office'; else elseInput"
                        [value]="settings.get(key)"
                        (ionChange)="settings.set(key, $event.target.value)">
              <ion-select-option *ngFor="let office of settingsService.getFisheriesOffices()">
                {{ office.name }}
              </ion-select-option>
            </ion-select>
            <ng-template #elseInput>
              <ion-input disabled="{{ disableInputs() }}" class="form-control"
                         name="{{ key }}" [value]="settings.get(key)"
                         (change)="settings.set(key, $event.target.value)">
              </ion-input>
            </ng-template>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button disabled="{{ disableInputs() }}" expand="block"
                                                    (click)="saveSettings()" >
              Save Details
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-card>
        <ion-card-content>
          <ion-button disabled="disabled"
                      *ngIf='!authService.loggedIn'
                      expand="block" (click)="login()">
            Login
          </ion-button>
          <p *ngIf='authService.loggedIn'>Logged In</p>
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngIf="page.toLowerCase() == 'home'">
      <ion-card>
        <ion-list>
          <ion-item>
            <ion-label>Species:</ion-label>
            <ion-select disabled="{{ disableInputs() }}"
                        [(ngModel)]="caught.species"
                        (ionFocus)="moveFocus(catch_caught)">
              <ion-select-option *ngFor="let species of getSpeciesList()">
                {{ species.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>No. caught:</ion-label>
            <ion-input disabled="{{ disableInputs() }}" type="number"
                       inputmode="numeric" [(ngModel)]="caught.caught"
                       (keyup.enter)="moveFocus(catch_retained)" #catch_caught>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label>No. retained:</ion-label>
            <ion-input disabled="{{ disableInputs() }}" type="number"
                       inputmode="numeric" [(ngModel)]="caught.retained"
                       #catch_retained>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Time:</ion-label>
            <ion-datetime disabled="{{ disableInputs() }}"
                 displayFormat="hh : mm : a"
                 [value]="today.toISOString()"
                 [max]="today.toISOString()"
                 (ionChange)="caught.date = dateFromISO($event.target.value)">
            </ion-datetime>
          </ion-item>
          <ion-item *ngIf='catchFormIncomplete' color='warning'>
            Please complete all fields.
          </ion-item>
          <ion-item *ngIf='catchFormDataError' color='warning'>
            {{ catchFormDataError }}
          </ion-item>
        </ion-list>
        <ion-button disabled="{{ disableInputs() }}" expand="block"
                                                     (click)='recordCatch()'>
          Record Catch
        </ion-button>
      </ion-card>
      <ion-card *ngFor="let caught of catches">
        <ion-card-content>
          {{ caught.date.toLocaleString('en-gb') }} <br />
          {{ caught.species }}: Retained {{ caught.retained }} of {{ caught.caught }}
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngIf="page.toLowerCase() == 'f1entrieslist'">
      <ion-card>
        <ion-button disabled="{{ disableInputs() }}"
                    routerLink="../F1EntryDetails" routerDirection="forward"
                    expand="block">
          Create New Entry
        </ion-button>
        <ion-button disabled="{{ disableInputs() || entries?.length == 0 }}"
                    routerLink="../F1FormGen"
                    routerDirection="forward" expand="block">
          Generate Form
        </ion-button>
      </ion-card>
      <ion-card *ngFor="let entry of entries">
        <ion-card-content>
          <ion-grid class="ion-no-padding">
            <ion-row class="ion-justify-content-between">
              <ion-col size="auto">
                <div>
                  {{ entry.activityDate.toLocaleDateString('en-gb') }} <br />
                  {{ entry.species }}
                </div>
              </ion-col>
              <ion-col size="auto" class="ion-text-end">
                <ion-button disabled="{{ disableInputs() }}"
                            routerLink="../F1EntryDetails"
                            [queryParams]="{ entry_id: entry.id }"
                            routerDirection="forward">
                  Details
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngIf="page.toLowerCase() == 'f1entrydetails'">
      <ion-grid class="ion-no-padding vertical-padding-only">
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-label
              [ngClass]="{'reqMissing': hasFieldBeenVisited('activityDate') && entry.activityDate == null}">
              <strong>Fishing Activity Date:</strong>
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-datetime #activityDatePicker disabled="{{ disableInputs() }}"
                 (ionFocus)="recordFieldVisited('activityDate')"
                 displayFormat="DD MMM YYYY"
                 [value]="(entry.activityDate != null ? entry.activityDate.toISOString() : null)"
                 min="2021-01-01" [max]="today.toISOString()"
                 (ionChange)="entry.activityDate = dateFromISO($event.target.value)">
            </ion-datetime>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <ion-col size="auto">
            <ion-button disabled="{{ disableInputs() }}"
                        (click)="entry.activityDate = getDate(-1)">
              Yesterday
            </ion-button>
          </ion-col>
          <ion-col size="auto">
            <ion-button disabled="{{ disableInputs() }}"
                        (click)="entry.activityDate = getDate()">
              Today
            </ion-button>
          </ion-col>
          <ion-col size="auto">
            <ion-button disabled="{{ disableInputs() }}"
                        (click)="activityDatePicker.open()">
              Select...
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <ion-col size="auto">
            <ion-label
              [ngClass]="{'reqMissing': hasFieldBeenVisited('location') && (entry.latitude == null || entry.longitude == null)}">
              <strong>Location:</strong></ion-label>
          </ion-col>
          <ion-col size="auto">
            {{ entry.getLocation() }}
          </ion-col>
          <ion-col size="auto">
            <ion-button disabled="{{ disableInputs() }}" *ngIf="!displayMap"
                        (click)="doMap(); recordFieldVisited('location')">
              Pick on Map
            </ion-button>
            <ion-button disabled="{{ disableInputs() }}" *ngIf="displayMap"
                        (click)="displayMap = false; recordFieldVisited('location')">
              Hide Map
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div #entry_map_canvas id="entry_map_canvas" class="map_canvas"
                              [ngClass]="(displayMap ? '' : 'ion-hide')"></div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <ion-col size="auto">
            <ion-label>ICES Rectangle:</ion-label>
          </ion-col>
          <ion-col size="auto">
            {{ entry.getIcesRectangle() }}
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-label
              [ngClass]="{'reqMissing': hasFieldBeenVisited('gear') && entry.gear == null}">
              <strong>Gear:</strong>
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-select disabled="{{ disableInputs() }}"
              [ngClass]="{'reqMissing': hasFieldBeenVisited('gear') && entry.gear == null}"
                        (ionBlur)="recordFieldVisited('gear')"
                        [(ngModel)]="entry.gear">
              <ion-select-option *ngFor="let gear of getGear()">
                {{ gear.name }}
              </ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col><ion-label>Mesh Size:</ion-label></ion-col>
          <ion-col>
            <ion-select disabled="{{ disableInputs() }}"
                        [(ngModel)]="entry.meshSize">
              <ion-select-option *ngFor="let meshSizes of getMeshSizes()">
                {{ meshSizes.name }}
              </ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-label
              [ngClass]="{'reqMissing': hasFieldBeenVisited('species') && entry.species == null}">
              <strong>Species:</strong>
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-select disabled="{{ disableInputs() }}"
              [ngClass]="{'reqMissing': hasFieldBeenVisited('species') && entry.species == null}"
                        (ionBlur)="recordFieldVisited('species')"
                        [(ngModel)]="entry.species">
              <ion-select-option *ngFor="let species of getSpeciesList()">
                {{ species.name }}
              </ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-label
              [ngClass]="{'reqMissing': hasFieldBeenVisited('state') && entry.state == null}">
              <strong>State:</strong>
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-select disabled="{{ disableInputs() }}"
              [ngClass]="{'reqMissing': hasFieldBeenVisited('state') && entry.state == null}"
                        (ionBlur)="recordFieldVisited('state')"
                        [(ngModel)]="entry.state">
              <ion-select-option *ngFor="let state of getStates()">
                {{ state.name }}
              </ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-label
              [ngClass]="{'reqMissing': hasFieldBeenVisited('presentation') && entry.presentation == null}">
              <strong>Presentation:</strong>
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-select disabled="{{ disableInputs() }}"
                        [value]="entry.presentation"
              [ngClass]="{'reqMissing': hasFieldBeenVisited('presentation') && entry.presentation == null}"
                        (ionBlur)="recordFieldVisited('presentation')"
                        (ionFocus)="moveFocus(entry_weight)"
                        [(ngModel)]="entry.presentation">
              <ion-select-option
                 *ngFor="let presentation of getPresentations()">
                {{ presentation.name }}
              </ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-label
              [ngClass]="{'reqMissing': hasFieldBeenVisited('weight') && entry.weight == null}">
              <strong>Weight (kg):</strong>
            </ion-label>
          </ion-col>
          <ion-col size="auto">
            <ion-input type="number" [(ngModel)]="entry.weight"
              [ngClass]="{'reqMissing': hasFieldBeenVisited('weight') && entry.weight == null}"
                        (ionBlur)="recordFieldVisited('weight')" #entry_weight>
            </ion-input>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <ion-col size="auto">
            <ion-label>DIS?</ion-label>
          </ion-col>
          <ion-col size="3">
            <ion-checkbox [(ngModel)]="entry.DIS"></ion-checkbox>
          </ion-col>
          <ion-col size="auto">
            <ion-label>BMS?</ion-label>
          </ion-col>
          <ion-col size="3">
            <ion-checkbox [(ngModel)]="entry.BMS"></ion-checkbox>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col><ion-label>No. Pots Hauled:</ion-label></ion-col>
          <ion-col size="auto">
            <ion-input type="number" [(ngModel)]="entry.numPotsHauled">
            </ion-input>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-label
              [ngClass]="{'reqMissing': hasFieldBeenVisited('landingDiscardDate') && entry.landingDiscardDate == null}">
              <strong>Landing or Discard Date:</strong>
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-datetime #landingDiscardDatePicker
                 (ionFocus)="recordFieldVisited('landingDiscardDate')"
                 disabled="{{ disableInputs() }}"
                 displayFormat="DD MMM YYYY"
                 [value]="(entry.landingDiscardDate != null ? entry.landingDiscardDate.toISOString() : null)"
                 min="2021-01-01" [max]="today.toISOString()"
                 (ionFocus)="moveFocus(entry_btrlk)"
                 (ionChange)="entry.landingDiscardDate = dateFromISO($event.target.value)">
            </ion-datetime>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <ion-col size="auto">
            <ion-button disabled="{{ disableInputs() }}"
                        (click)="setLandingDateFromActivityDate()">
              Same Day
            </ion-button>
          </ion-col>
          <ion-col size="auto">
            <ion-button disabled="{{ disableInputs() }}"
                        (click)="setLandingDateFromActivityDate(1)">
              Next Day
            </ion-button>
          </ion-col>
          <ion-col size="auto">
            <ion-button disabled="{{ disableInputs() }}"
                        (click)="landingDiscardDatePicker.open()">
              Select...
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-label>Buyer, TransporterReg. or Landed to Keeps:</ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-textarea disabled="{{ disableInputs() }}"
                          [value]="entry.buyerTransporterRegLandedToKeeps"
                 (change)="entry.buyerTransporterRegLandedToKeeps = $event.target.value" #entry_btrlk>
            </ion-textarea>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-button disabled="{{ disableInputs() || !entry.isComplete() }}"
                        expand="block" (click)="recordEntry()">Save Entry
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="entry.getId() != null" class="ion-align-items-center">
          <ion-col>
            <ion-button disabled="{{ disableInputs() }}" color="danger"
                        expand="block" (click)="deleteEntry()">Delete Entry
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngIf="page.toLowerCase() == 'f1formgen'">
      <ion-grid class="ion-no-padding vertical-padding-only">
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-label><strong>Fisheries Office:</strong></ion-label>
          </ion-col>
          <ion-col>
            <ion-select disabled="{{ disableInputs() }}"
                        placeholder="Select office..."
              [value]="' '+f1Form.fisheryOffice?.name+' '"
              (ionChange)="f1Form.fisheryOffice = settingsService.getFisheriesOffice($event.target.value.trim())">
              <ion-select-option
                    *ngFor="let office of settingsService.getFisheriesOffices()">
                {{ office.name }}
              </ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          {{ f1Form.fisheryOffice?.address }} <br />
          {{ f1Form.fisheryOffice?.phone }} <br />
          {{ f1Form.fisheryOffice?.email }} <br />
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col><ion-label>PLN</ion-label></ion-col>
          <ion-col size="auto">
            <ion-input [(ngModel)]="f1Form.PLN"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col><ion-label>Vessel Name</ion-label></ion-col>
          <ion-col size="auto">
            <ion-input [(ngModel)]="f1Form.vesselName"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col><ion-label>Owner/Master</ion-label></ion-col>
          <ion-col size="auto">
            <ion-input [(ngModel)]="f1Form.ownerMaster"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-label>Address</ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-textarea disabled="{{ disableInputs() }}"
                          [(ngModel)]="f1Form.address"></ion-textarea>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col><ion-label>Port of Departure</ion-label></ion-col>
          <ion-col size="auto">
            <ion-input [(ngModel)]="f1Form.portOfDeparture"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col><ion-label>Port of Landing</ion-label></ion-col>
          <ion-col size="auto">
            <ion-input [(ngModel)]="f1Form.portOfLanding"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col><ion-label>Total Pots Fishing</ion-label></ion-col>
          <ion-col size="auto">
            <ion-input type="number" [(ngModel)]="f1Form.totalPotsFishing">
            </ion-input>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-label>Comments</ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-textarea disabled="{{ disableInputs() }}"
                          [(ngModel)]="f1Form.comments"></ion-textarea>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col><ion-label><strong>Week Starting</strong></ion-label></ion-col>
          <ion-col>
          <ion-select disabled="{{ disableInputs() }}"
                      placeholder="Select date..."
                      [value]="f1Form.weekStarting?.toISOString()"
            (ionChange)="setf1FormWeekStarting($event.target.value)">
            <ion-select-option *ngFor="let sunday of sundays" [value]="sunday.toISOString()">
              {{ sunday.toLocaleDateString('en-gb', {weekday: 'short', year: 'numeric', month: 'short', day: 'numeric'}) }}
            </ion-select-option>
          </ion-select>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-button expand='block'
                 disabled="{{ disableInputs() || !formHeadersComplete() }}"
                        (click)='generateXLSX()'>Generate Spreadsheet
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-card *ngFor="let entry of entries">
        <ion-card-content>
          <ion-grid class="ion-no-padding">
            <ion-row class="ion-justify-content-between">
              <ion-col size="auto">
                <div>
                  {{ entry.activityDate.toLocaleDateString('en-gb') }} <br />
                  {{ entry.species }}
                </div>
              </ion-col>
              <ion-col size="auto" class="ion-text-end">
                <ion-button disabled="{{ disableInputs() }}"
                            routerLink="../F1EntryDetails"
                            [queryParams]="{ entry_id: entry.id }"
                            routerDirection="forward">
                  Details
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngIf="page.toLowerCase() == 'wildlife'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>New Observation</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid class="ion-no-padding vertical-padding-only">
            <ion-row class="ion-align-items-center">
              <ion-col><ion-label>Animal:</ion-label></ion-col>
              <ion-col>
                <ion-select disabled="{{ disableInputs() }}"
                            [(ngModel)]="observation.animal"
                     (ionChange)="observation.species = null">
                  <ion-select-option *ngFor="let animal of getWildlifeAnimals()">
                    {{ animal.name }}
                  </ion-select-option>
                  <ion-select-option>Other</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center" *ngIf="observation.animal && observation.animal.toLowerCase().trim() != 'other'">
              <ion-col><ion-label>Species:</ion-label></ion-col>
              <ion-col>
                <ion-select disabled="{{ disableInputs() }}"
                            [(ngModel)]='observation.species'>
                  <ion-select-option *ngFor="let species of getWildlifeSpecies(observation.animal)">
                    {{ species }}
                  </ion-select-option>
                  <ion-select-option value='other'>Unknown/Other</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center" *ngIf="(observation.animal && observation.animal.toLowerCase().trim() == 'other') || (observation.species && observation.species.toLowerCase().trim() == 'other')">
              <ion-col><ion-label>Description:</ion-label></ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center" *ngIf="(observation.animal && observation.animal.toLowerCase().trim() == 'other') || (observation.species && observation.species.toLowerCase().trim() == 'other')">
              <ion-col>
                <ion-textarea disabled="{{ disableInputs() }}"
                          [(ngModel)]="observation.description"></ion-textarea>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center" *ngIf="(observation.animal && (observation.species || observation.description))">
              <ion-col><ion-label>Number:</ion-label></ion-col>
              <ion-col>
                <ion-input type='number' inputmode='number' [(ngModel)]='observation.num'></ion-input>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center" *ngIf="(observation.animal && (observation.species || observation.description) && observation.num)">
              <ion-col><ion-label>Time:</ion-label></ion-col>
              <ion-col>
                <ion-datetime disabled="{{ disableInputs() }}"
                     displayFormat="hh : mm : a"
                     [value]="observation.getDateString()"
                     [max]="today.toISOString()"
                     (ionChange)="observation.date = dateFromISO($event.target.value)">
                </ion-datetime>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="(observation.animal && (observation.species || observation.description) && observation.num)"
                     class="ion-align-items-center">
              <ion-col size="auto">
                <ion-label>Location:</ion-label>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="(observation.animal && (observation.species || observation.description) && observation.num)"
                     class="ion-justify-content-between ion-align-items-center">
              <ion-col size="auto">
                <ion-button *ngIf="!displayMap"
                            (click)="doMap();">
                  Pick on Map
                </ion-button>
                <ion-button *ngIf="displayMap"
                            (click)="displayMap = false">
                  Hide Map
                </ion-button>
              </ion-col>
              <ion-col size="auto">
                {{ observation.getLocation() }}
              </ion-col>
            </ion-row>
            <ion-row *ngIf="(observation.animal && (observation.species || observation.description) && observation.num)">
              <ion-col>
                <div #observation_map_canvas id="observation_map_canvas" class="map_canvas"
                              [ngClass]="(displayMap ? '' : 'ion-hide')"></div>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center" *ngIf="observation.animal && (observation.species || observation.description) && observation.num && observation.getLatitude() && observation.getLongitude()">
              <ion-col><ion-label>Behaviour:</ion-label></ion-col>
              <ion-col>
                <ion-select disabled="{{ disableInputs() }}" multiple='true'
                            [(ngModel)]='observation.behaviour'>
                  <ion-select-option *ngFor="let behaviour of getWildlifeBehaviours()">
                    {{ behaviour }}
                  </ion-select-option>
                  <ion-select-option value='other'>Unknown/Other</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center" *ngIf="observation.animal && (observation.species || observation.description) && observation.num && observation.getLatitude() && observation.getLongitude() && observation.behaviour.length > 0">
              <ion-col><ion-label>Behaviour or other notes:</ion-label></ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center" *ngIf="observation.animal && (observation.species || observation.description) && observation.num && observation.getLatitude() && observation.getLongitude() && observation.behaviour.length > 0">
              <ion-col>
                <ion-textarea disabled="{{ disableInputs() }}"
                              [(ngModel)]="observation.notes"></ion-textarea>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center" *ngIf="observation.animal && (observation.species || observation.description) && observation.num && observation.getLatitude() && observation.getLongitude() && observation.behaviour.length > 0">
              <ion-col>If you have any photos or videos of the animal, please email them to <a href="mailto:wieat@st-andrews.ac.uk">wieat@st-andrews.ac.uk</a></ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center" *ngIf="observation.animal && (observation.species || observation.description) && observation.num && observation.getLatitude() && observation.getLongitude() && observation.behaviour.length > 0">
              <ion-col>
                <ion-button disabled="{{ disableInputs() }}" expand='block'
                            (click)='recordWildlife()'>Record Observation
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
      <ion-card *ngFor="let observation of observations">
        <ion-card-content>
          <ion-grid class="ion-no-padding">
            <ion-row class="ion-justify-content-between">
              <ion-col size="auto">
                {{ observation.getDateString('local', true) }}<br />
                {{ observation.getLocation() }}<br />
                {{ (observation.species ? observation.species : observation.description) }} × {{ observation.num }}<br />
                {{ observation.behaviour.join(', ') }}<br />
                {{ observation.notes }}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngIf="page.toLowerCase() == 'creels'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Record Creel</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid class="ion-no-padding vertical-padding-only">
            <ion-row class="ion-align-items-center">
              <ion-col size="auto">
                <ion-label>Location:</ion-label>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-between ion-align-items-center">
              <ion-col size="auto">
                <ion-button *ngIf="!displayMap"
                            (click)="doMap();">
                  Pick on Map
                </ion-button>
                <ion-button *ngIf="displayMap"
                            (click)="displayMap = false">
                  Hide Map
                </ion-button>
              </ion-col>
              <ion-col size="auto">
                {{ creel.getLocation() }}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div #creel_map_canvas id="creel_map_canvas" class="map_canvas"
                              [ngClass]="(displayMap ? '' : 'ion-hide')"></div>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center" *ngIf="creel.getLatitude() && creel.getLongitude()">
              <ion-col><ion-label>Notes:</ion-label></ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center" *ngIf="creel.getLatitude() && creel.getLongitude()">
              <ion-col>
                <ion-textarea disabled="{{ disableInputs() }}"
                              [(ngModel)]="creel.notes"></ion-textarea>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center" *ngIf="creel.getLatitude() && creel.getLongitude()">
              <ion-col>
                <ion-button disabled="{{ disableInputs() }}" expand='block'
                            (click)='recordCreel()'>Record Creel
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
      <ion-card *ngFor="let creel of creels">
        <ion-card-content>
          <ion-grid class="ion-no-padding">
            <ion-row class="ion-justify-content-between">
              <ion-col size="auto">
                {{ creel.getDateString('local', true) }}<br />
                {{ creel.getLocation() }}<br />
                {{ creel.notes }}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngIf="page.toLowerCase() == 'about'">

      <div *ngIf="darkModeOn()">
        <img src='assets/02-standard-white-text.png'
                       alt="Logo of the University of St Andrews" />
      </div>
      <div *ngIf="!darkModeOn()">
        <img src='assets/01-standard-black-text.png'
                       alt="Logo of the University of St Andrews" />
      </div>

      <h3>About this App</h3>

      <p>This App has been developed by the University of St Andrews to help
      collect data from fishers involved in the Western Isles Creel Limitation
      Pilot led by Marine Scotland. The App is designed to allow fishers to
      record the details of their catch, to be able to submit this data to a
      secure database and to generate an output in a format that they may
      submit to their local Fishery Office as required. The App is currently
      only available to participants in the Pilot project.</p>

      <h3>Using this App</h3>

      <dl>
        <dt><ion-icon name="boat-outline"></ion-icon> Catch</dt>
        <dd>Quickly record how much is caught and retained for each haul.</dd>
        <dt><ion-icon name="clipboard-outline"></ion-icon> Form Entries</dt>
        <dd>Complete form entries detailing catch for the day, then generate
        a spreadsheet containing the entries for a given week.</dd>
        <dt><ion-icon name="glasses-outline"></ion-icon> Wildlife Observations</dt>
        <dd>Record the details of wildlife spotted while fishing.</dd>
        <dt><ion-icon name="help-buoy-outline"></ion-icon> Unmarked Creels</dt>
        <dd>Record the location of unmarked creels encountered.</dd>
        <dt><ion-icon name="person-circle-outline"></ion-icon> Your Details</dt>
        <dd>Details entered here are used to automatically populate fields in
        the Form Entries spreadsheet. This is also where the app can be linked
        to an online account. Once linked, all data entered will be regularly
        sent to the researchers.</dd>
      </dl>

      <h3>Credits</h3>

      <p>This App has been developed by the Research Computing team at the
      University of St Andrews. The source code is available
      <a href="https://github.com/StAResComp/fishing">on GitHub</a>. The icons
      used in this app are from the <a href="https://ionicons.com/">Ionicon set
      </a>.</p>
    </div>

  </div>
</ion-content>
