<ion-header [translucent]="true">
  <ion-toolbar [ngSwitch]="page.toLowerCase()">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngSwitchCase="'f1entrieslist'">FISH1 Entries</ion-title>
    <ion-title *ngSwitchCase="'f1entrydetails'">FISH1 Entry</ion-title>
    <ion-title *ngSwitchDefault>{{ page }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar [ngSwitch]="page.toLowerCase()">
      <ion-title size="large" *ngSwitchCase="'f1entrieslist'">
        FISH1 Entries
      </ion-title>
      <ion-title size="large" *ngSwitchCase="'f1entrydetails'">
        FISH1 Entry
      </ion-title>
      <ion-title size="large" *ngSwitchDefault>{{ page }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="container">

    <div *ngIf="page.toLowerCase() == 'settings'">
      <form #form="ngForm" novalidate (ngSubmit)="saveSettings()">
        <div *ngFor="let key of keys" class="form-group">
          <label for="{{ key }}">{{ getDisplayKey(key) }}: </label>
          <ion-select placeholder="Select office..."
                      *ngIf="key == 'fisheries_office'; else elseInput"
                      [value]="settings.get(key)"
                      (ionChange)="settings.set(key, $event.target.value)">
            <ion-select-option *ngFor="let office of getFisheriesOffices()">
              {{ office.name }}
            </ion-select-option>
          </ion-select>
          <ng-template #elseInput>
            <ion-input class="form-control" name="{{ key }}"
                       [value]="settings.get(key)"
                       (change)="settings.set(key, $event.target.value)">
            </ion-input>
          </ng-template>
        </div>
        <button class="btn btn-primary m-1" type="submit">
          Save Settings
        </button>
      </form>
    </div>

    <div *ngIf="page.toLowerCase() == 'home'">
      <ion-card>
        <ion-list>
          <ion-item>
            <ion-label>Species:</ion-label>
            <ion-select [value]="caught.species"
                        (ionChange)="caught.species = $event.target.value">
              <ion-select-option *ngFor="let species of speciesList">
                {{ species.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>No. caught:</ion-label>
            <ion-input type="number" [value]="caught.caught"
                       (change)="caught.caught = +$event.target.value">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label>No. retained:</ion-label>
            <ion-input type="number" [value]="caught.retained"
                       (change)="caught.retained = +$event.target.value">
            </ion-input>
          </ion-item>
          <ion-item *ngIf='catchFormIncomplete' color='warning'>
            Please complete all fields.
          </ion-item>
          <ion-item *ngIf='catchFormDataError' color='warning'>
            No. retained can not be greater than no. caught.
          </ion-item>
        </ion-list>
        <ion-button expand="block" (click)='recordCatch()'>
          Record Catch
        </ion-button>
      </ion-card>
      <ion-card *ngFor="let caught of getCatches()">
        <ion-card-content>
          {{ caught.date.toLocaleDateString('en-gb') }} <br />
          {{ caught.species }}: Retained {{ caught.retained }} of {{ caught.caught }}
        </ion-card-content>
      </ion-card>
      <!--<button (click)="login()" class="btn btn-primary m-1">Login</button>-->
      <!--<button (click)="refresh()" class="btn btn-primary m-1">Refresh Token</button>-->
      <!--<button (click)="checkTokens()" class="btn btn-primary m-1">Check stored tokens</button>-->
      <!--<ul>-->
      <!--<li>Access token: {{ accessToken }}</li>-->
      <!--<li>Access token expiry: {{ accessTokenExpiry }} seconds</li>-->
      <!--<li>Refresh token: {{ refreshToken }}</li>-->
      <!--</ul>-->
    </div>

    <div *ngIf="page.toLowerCase() == 'f1entrieslist'">
      <ion-card>
        <ion-button routerLink="../F1EntryDetails" routerDirection="forward"
                    expand="block">
          Create New Entry
        </ion-button>
        <ion-button (click)="generateForm()" expand="block">
          Generate Form
        </ion-button>
      </ion-card>
      <ion-card *ngFor="let entry of getF1Entries()">
        <ion-card-content>
          <ion-grid class="ion-no-padding">
            <ion-row class="ion-justify-content-between">
              <ion-col size="auto">
                <div>
                  {{ entry.date }} <br /> {{ entry.species }}
                </div>
              </ion-col>
              <ion-col size="auto" class="ion-text-end">
                <ion-button (click)="recordEntry()" size="small">
                  Details
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngIf="page.toLowerCase() == 'f1entrydetails'">
        <ion-grid class="ion-no-padding vertical-padding-only">
          <ion-row class="ion-align-items-center">
            <ion-col><ion-label>Fishing Activity Date:</ion-label></ion-col>
            <ion-col>
              <ion-datetime #activityDatePicker
                   displayFormat="DD MMM YYYY"
                   [value]="(entry.activityDate != null ? entry.activityDate.toISOString() : null)"
                   min="2021-01-01" [max]="today"
                   (ionChange)="entry.activityDate = dateFromISO($event.target.value)">
              </ion-datetime>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="auto">
              <ion-button (click)="entry.activityDate = getDate(-1)">
                Yesterday
              </ion-button>
            </ion-col>
            <ion-col size="auto">
              <ion-button (click)="entry.activityDate = getDate()">
                Today
              </ion-button>
            </ion-col>
            <ion-col size="auto">
              <ion-button (click)="activityDatePicker.open()">
                Select...
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center">
            <ion-col>
              <ion-label>Location:</ion-label>
            </ion-col>
            <ion-col size="auto">
              <ion-button (click)="presentMapModal()">
                Pick on Map
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center">
            <ion-col><ion-label>Gear:</ion-label></ion-col>
            <ion-col>
              <ion-select [value]="entry.gear"
                   (ionChange)="entry.gear = $event.target.value">
                <ion-select-option *ngFor="let gear of getGear()">
                  {{ gear.name }}
                </ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center">
            <ion-col><ion-label>Mesh Size:</ion-label></ion-col>
            <ion-col>
              <ion-select [value]="entry.meshSize"
                          (ionChange)="entry.meshSize = $event.target.value">
                <ion-select-option *ngFor="let meshSizes of getMeshSizes()">
                  {{ meshSizes.name }}
                </ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center">
            <ion-col><ion-label>Species:</ion-label></ion-col>
            <ion-col>
              <ion-select [value]="entry.species"
                   (ionChange)="entry.species = $event.target.value">
                <ion-select-option *ngFor="let species of speciesList">
                  {{ species.name }}
                </ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center">
            <ion-col><ion-label>State:</ion-label></ion-col>
            <ion-col>
              <ion-select [value]="entry.state"
                   (ionChange)="entry.state = $event.target.value">
                <ion-select-option *ngFor="let state of getStates()">
                  {{ state.name }}
                </ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center">
            <ion-col><ion-label>Presentation:</ion-label></ion-col>
            <ion-col>
              <ion-select [value]="entry.presentation"
                   (ionChange)="entry.presentation = $event.target.value">
                <ion-select-option
                   *ngFor="let presentation of getPresentations()">
                  {{ presentation.name }}
                </ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="auto">
              <ion-label>DIS?</ion-label>
            </ion-col>
            <ion-col size="3">
              <ion-checkbox [checked]="entry.DIS"></ion-checkbox>
            </ion-col>
            <ion-col size="auto">
              <ion-label>BMS?</ion-label>
            </ion-col>
            <ion-col size="3">
              <ion-checkbox [checked]="entry.BMS"></ion-checkbox>
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center">
            <ion-col><ion-label>No. Pots Hauled:</ion-label></ion-col>
            <ion-col size="auto">
              <ion-input type="number" [value]="entry.numPotsHauled"
                         (change)="entry.numPotsHauled = $event.target.value">
              </ion-input>
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center">
            <ion-col><ion-label>Landing or Discard Date:</ion-label></ion-col>
            <ion-col>
              <ion-datetime #landingDiscardDatePicker
                   displayFormat="DD MMM YYYY"
                   [value]="(entry.landingDiscardDate != null ? entry.landingDiscardDate.toISOString() : null)"
                   min="2021-01-01" [max]="today"
                   (ionChange)="entry.landingDiscardDate = dateFromISO($event.target.value)">
              </ion-datetime>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="auto">
              <ion-button (click)="setLandingDateFromActivityDate()">
                Same Day
              </ion-button>
            </ion-col>
            <ion-col size="auto">
              <ion-button (click)="setLandingDateFromActivityDate(1)">
                Next Day
              </ion-button>
            </ion-col>
            <ion-col size="auto">
              <ion-button (click)="landingDiscardDatePicker.open()">
                Select...
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center">
            <ion-col>
              <ion-label>Buyer, TransporterReg. or Landed to Keeps:</ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center">
            <ion-col>
              <ion-textarea [value]="entry.buyerTransporterRegLandedToKeeps"
                   (change)="entry.buyerTransporterRegLandedToKeeps = $event.target.value">
              </ion-textarea>
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center">
            <ion-col>
              <ion-button expand="block" (click)="recordEntry()">Save Entry</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
    </div>

    <div *ngIf="page.toLowerCase() == 'f1-form-gen'">
    </div>

    <div *ngIf="page.toLowerCase() == 'wildlife'">
    </div>

  </div>
</ion-content>
