<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ page }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ page }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ page }}</strong>
    <div *ngIf="page.toLowerCase() == 'settings'">
      <form *ngIf="!orderSent" #form="ngForm" novalidate (ngSubmit)="saveSettings()">
        <div *ngFor="let key of keys" class="form-group">
          <label>{{ getDisplayKey(key) }}</label>
          <input class="form-control" style="color: black" name="{{ key }}" [value]="settings.get(key)" (change)="settings.set(key, $event.target.value)" />
        </div>
        <button class="btn btn-primary m-1" type="submit">Save Settings</button>
      </form>
    </div>
  </div>
</ion-content>
