<ion-header>
  <ion-toolbar>
    <ion-title>Consent</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="ion-padding-start ion-padding-end">Participant Information
    Sheet</h1>
  <h2 class="ion-padding-start ion-padding-end">Project Title </h2>
  <p class="ion-padding-start ion-padding-end">Capturing and Identifying
  Experiential Inshore, Small-Scale Fisheries Data to Inform Local Management
  Strategies Through the Development of a Mobile Phone Application for Onboard
  Use.</p>
  <h2 class="ion-padding-start ion-padding-end">What is the study about?</h2>
  <p class="ion-padding-start ion-padding-end">We invite you to participate in
  a research project aimed at improving the sustainability within commercial
  inshore fisheries (i.e. vessels of 12m or less fishing out to the 12nm
  limit). The project will try to capture information which could contribute to
  the long-term sustainability and profitability of the industry. Among the
  potential benefits to industry, the project aims to generate this information
  through industry gathered data via a mobile phone application (App) that can
  be used within the scope of marine spatial planning and fisheries management.
  The project also seeks to identify how the App could provide a platform to
  capture useful observations and experiential information from fishers in a
  standardised format so that these data can either in isolation or collated
  over time, contribute to fisheries management and marine planning.</p>
  <p class="ion-padding-start ion-padding-end">This will involve engagement
  (through a trial using the mobile phone App) with a sample of inshore fishers
  to study the quality of the data provided through the App and to gain
  information on the fishing activities of the participants.</p>
  <p class="ion-padding-start ion-padding-end">With your agreement, we would
  like you to start recording information about your daily catches through our
  specially designed mobile phone App. All information will be sent to us
  electronically from your phone and will be available to for you review at any
  time in the App. The application can be readily modified to accommodate any
  statutory requirements of commercial inshore fisheries. This means you will
  be able to submit the necessary paperwork regarding your catch, through the
  App, to your local fishery office. In addition, if you are willing to assist
  us further, we would like to collect some GPS tracking data using App whilst
  you are fishing, this will allow us to understand the area you fish and how
  often you fish in these locations, you will also be able to view your tracks
  through the App. An additional feature of the App will be an observation
  tracker. This part of the App will allow you to record unusual sightings or
  interactions with species such as whales, dolphins, seals or seabirds. These
  observations will provide researchers useful, often unrecorded information on
  the distribution of these species. Other observations might for example
  include the incidence of unusual by catch, squid eggs on creels or invasive /
  non-native species.  </p>
  <p class="ion-padding-start ion-padding-end">We will also be interested in
  your feedback on the functionality of the App and how we might improve
  it.</p>
  <p class="ion-padding-start ion-padding-end">Please be assured that all the
  information and data that we collect in this research project will be treated
  as strictly confidential. The results will be analysed and presented in such
  a way that no personal details or information which might compromise your
  fishing activities will be made public. </p>
  <p class="ion-padding-start ion-padding-end">This study is being conducted as
  part of a research project, led by Dr Mark James who works in the Coastal
  Resources Management Group based the University of St Andrews, Scotland.</p>
  <h2 class="ion-padding-start ion-padding-end">Do I have to take part?</h2>
  <p class="ion-padding-start ion-padding-end">This information sheet has been
  written to help you decide if you would like to take part. It is up to you
  and you alone whether or not you wish to participate. If you do decide to
  take part, you will be free to withdraw from the study at any time without
  providing a reason.</p>
  <h2 class="ion-padding-start ion-padding-end">What would I be required to
    do?</h2>
  <p class="ion-padding-start ion-padding-end">This will vary depending on
  which part(s) of the App you choose to use.  Recording an observation could
  take from a few seconds to a few minutes depending upon the amount of
  information you wish to provide. This can be done at a time and place that is
  convenient to you. If you agree to collect information on your daily catch
  you will be provided with instructions on how to fill in the App form and how
  to use the mobile phone App including the GPS tracker. </p>
  <h2 class="ion-padding-start ion-padding-end">Will my participation be
    Anonymous and Confidential?</h2>
  <p class="ion-padding-start ion-padding-end">Only project researchers will
  have access to the raw data which will be kept confidential. The data
  collected will only be made available in reports or publications in
  aggregated or anonymised form. Your permission will be sought in the
  Participant Consent form for the data you provide, which will be coded*, to
  be used for future research purposes.</p>
  <p class="ion-padding-start ion-padding-end">*‘Coded Data’ refers to when
  data collected by the researcher is identifiable as belonging to a particular
  participant but is kept with personal identifiers removed. </p>
  <h2 class="ion-padding-start ion-padding-end">Storage and Destruction of Data
    Collected</h2>
  <p class="ion-padding-start ion-padding-end">The data collected will be only
  be accessed in its raw form by the researchers involved in this study, unless
  explicit consent for wider access is given by means of the consent form. Your
  data will be stored for a period of at least 5 years before being destroyed*,
  i.e. in (1) coded format on the University computer system (2) in the case of
  hardcopy in a locked storage cupboard.</p>
  <p class="ion-padding-start ion-padding-end">*Unless secondary data
  permission has been indicated on the consent form.  In the case of electronic
  data destruction will involve the permanent deletion (overwriting) of files
  using Eraser<sup>©</sup> software, while any hard copy records will be
  cross-cut shredded.</p>
  <h2 class="ion-padding-start ion-padding-end">What will happen to the results
    of the research study?</h2>
  <p class="ion-padding-start ion-padding-end">The results will be made
  publicly available after the trail of the mobile phone App in aggregated form
  or be sufficiently anonymised as to prevent identification of the
  participant. Also, it is the intent of the Coastal Resources Management Group
  that wherever possible outputs from the trails will be submitted for
  publication as peer reviewed journal articles.</p>
  <h2 class="ion-padding-start ion-padding-end">Are there any potential risks
    to taking part?</h2>
  <p class="ion-padding-start ion-padding-end">We do not anticipate there being
  any personal, emotional or financial risks to taking part in these studies.
  Very limited personal information will be recorded (name and contact details)
  to be used by the project team for identification purposes. If these data are
  utilised at any point, it will only be in aggregate form (e.g. participant,
  age, demographics). In cases where video/images may be taken specific
  permission (by means of the consent form) will be sort from the participants
  involved.</p>
  <h2 class="ion-padding-start ion-padding-end">Questions</h2>
  <p class="ion-padding-start ion-padding-end">You will have the opportunity to
  ask any questions in relation to this project before filling in the Consent
  Form.</p>
  <h2 class="ion-padding-start ion-padding-end">Consent and Approval</h2>
  <p class="ion-padding-start ion-padding-end">This research proposal has been
  scrutinised and been granted Ethical Approval through the University of St
  Andrews ethical approval process.</p>
  <h2 class="ion-padding-start ion-padding-end">What should I do if I have
    concerns about this study?</h2>
  <p class="ion-padding-start ion-padding-end">A full outline of the procedures
  governed by the University Teaching and Research Ethical Committee is
  available at
  <a href="http://www.st-andrews.ac.uk/utrec/guidelinespolicies/complaints/">
    http://www.st-andrews.ac.uk/utrec/guidelinespolicies/complaints/</a></p>
  <h2 class="ion-padding-start ion-padding-end">Contact Details</h2>
  <p class="ion-padding-start ion-padding-end">If you have any queries
  regarding the study please contact Dr Mark James via email at <a
     href="mailto:maj8@st-andrews.ac.uk">maj8@st-andrews.ac.uk</a>
  <h1 class="ion-padding-start ion-padding-end">Participant Consent Form - Coded
   Data</h1>
  <h2 class="ion-padding-start ion-padding-end">Project Title</h2>
  <p class="ion-padding-start ion-padding-end">Capturing and Identifying
  Experiential Inshore, Small-Scale Fisheries Data to Inform Local Management
  Strategies Through the Development of a Mobile Phone Application for Onboard
  Use.</p>
  <p class="ion-padding-start ion-padding-end">The research project aims to
  improve methods of data collection within commercial inshore, small-scale
  fisheries.</p>
  <h2 class="ion-padding-start ion-padding-end">Researchers</h2>
  <ul>
    <li>Dr Mark James</li>
    <li>Dr Tania Mendo</li>
    <li>Dr Simon Northridge</li>
    <li>Miss Hannah Ladd-Jones</li>
    <li>Mr Patrick McCann</li>
    <li>Mr Swithun Crowe</li>
    <li>Ms Ellie MacLennan</li>
  </ul>
  <p class="ion-padding-start ion-padding-end">The University of St Andrews
  attaches high priority to the ethical conduct of research. We therefore ask
  you to consider the following points before signing this form. Your signature
  confirms that you are happy to participate in the study.</p>
  <h2 class="ion-padding-start ion-padding-end">What is Coded Data?</h2>
  <p class="ion-padding-start ion-padding-end">The term ‘Coded Data’ refers to
  when data collected by the researcher is identifiable as belonging to a
  particular participant but is kept with personal identifiers removed. The
  researcher(s) retain a ‘key’ to the coded data which allows individual
  participants to be re-connected with their data at a later date. The un-coded
  data is kept confidential to the researchers. If consent it given to archive
  data (see consent section of form) the participant may be contacted in the
  future by the original researchers or other researchers. </p>
  <h2 class="ion-padding-start ion-padding-end">Consent</h2>
  <p class="ion-padding-start ion-padding-end">The purpose of this form is to
  ensure that you are willing to take part in this study and to let you
  understand what it entails.  Signing this form does not commit you to
  anything you do not wish to do and you are free to withdraw at any stage.</p>
  <p class="ion-padding-start ion-padding-end">Material gathered during this
  research will be coded and kept confidentially by the researchers with only
  the research team having access.  It will be securely stored; in (1)
  electronic form (coded format) on the University computer system; (2) in the
  case of hardcopy in a locked storage cupboard.</p>
  <p class="ion-padding-start ion-padding-end">Please answer each statement
  concerning the collection and use of the research data.</p>
  <ion-list>
    <ion-item>
      <ion-label class="ion-text-wrap">I have read and understood the participant information
      sheet.</ion-label>
      <ion-toggle [(ngModel)]="consent.understoodSheet"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">I have been given the opportunity to ask questions about the
        study.</ion-label>
      <ion-toggle [(ngModel)]="consent.questionsOpportunity"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">I have had my questions answered satisfactorily.</ion-label>
      <ion-toggle [(ngModel)]="consent.questionsAnswered"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">I understand that I can withdraw from the study at any time
        without having to give an explanation.</ion-label>
      <ion-toggle [(ngModel)]="consent.understandWithdrawal"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">I understand that my data will be confidential and that it
        will contain identifiable personal data but that will be stored with
        personal identifiers removed by the researchers and that only the
        project researchers will be able to decode this information as and when
        necessary.</ion-label>
      <ion-toggle [(ngModel)]="consent.understandCoding"></ion-toggle>
    </ion-item>
  </ion-list>
  <h2 class="ion-padding-start ion-padding-end">Secondary Data
    Permission/Decline</h2>
  <ion-list>
    <ion-item>
      <ion-label class="ion-text-wrap">I agree to my data (in line with
        conditions outlined above) being kept by the researchers and being
        archived for potential use in further research projects / by other bona
        fide researchers. I understand that this may allow other researchers to
        de-code the data and identify me.</ion-label>
      <ion-toggle [(ngModel)]="consent.secondary.agreeArchiving"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">I have been made fully aware of the
        potential risks associated with this research and am satisfied with the
        information provided.</ion-label>
      <ion-toggle [(ngModel)]="consent.secondary.awareRisks"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">I agree to take part in the
        study</ion-label>
      <ion-toggle [(ngModel)]="consent.secondary.agreeTakePart"></ion-toggle>
    </ion-item>
  </ion-list>
  <h2 class="ion-padding-start ion-padding-end">Photographic Images and
    Video</h2>
  <p class="ion-padding-start ion-padding-end">Part of our research may involve
  taking photographic images and video. These images / recordings will be kept
  secure and stored with no identifying factors i.e. consent forms and
  questionnaires.  </p>
  <p class="ion-padding-start ion-padding-end">Photographs and recorded data
  can be valuable resources for future studies therefore we ask for your
  additional consent to maintain data and images for this purpose.</p>
  <ion-list>
    <ion-item>
      <ion-label class="ion-text-wrap">I agree to have my photo taken / to
        being videoed</ion-label>
      <ion-toggle
                 [(ngModel)]="consent.photography.agreePhotoTaken"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">I agree for my photo and video recorded
        material to be published as part of this research</ion-label>
      <ion-toggle
            [(ngModel)]="consent.photography.agreePhotoPublished"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">I agree for my photos and video recorded
        material to be used in future studies </ion-label>
      <ion-toggle
            [(ngModel)]="consent.photography.agreePhotoFutureUse"></ion-toggle>
    </ion-item>
  </ion-list>
  <p class="ion-padding-start ion-padding-end">Participation in this research
  is completely voluntary and your consent is required before you can
  participate in this research. If you decide at a later date that data should
  be destroyed we will honour your request in writing.</p>
  <ion-list>
    <ion-item>
      <ion-label class="ion-text-wrap">Name:</ion-label>
      <ion-input [(ngModel)]="consent.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">Date:</ion-label>
      <span>{{ consentDateString() }}</span>
    </ion-item>
  </ion-list>
  <ion-button (click)='giveConsent()' expand='block'>I Consent</ion-button>
</ion-content>
